# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.dat

# Gradle
.gradle
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored).
# Add this 'after' *.jar ignore
!gradle-wrapper.jar

# Binaries
*.target
build
target
**/target
**/metastore_db
out
classes
reports
bin
*.class

#Eclipse
.classpath
.project
.settings

# Vagrant, Ansible and Docker
.vagrant
.docker
*.retry

# Cache
${cache.storage.path}
cachedData

**/.worksheet/*
